.Button {
  outline: none;
  border: none;
  border-radius: 50px;
  background-color: rgb(8, 8, 154);
  color: #ffffff;
  font-weight: 500;
  padding: 1em 1.5em;
  font-size: 1em;
  cursor: pointer;
}

.secondary {
  background-color: rgba(4, 4, 5, 0.15);
  color: #000000;
}

.smallBtn {
  padding: 0.8em 1.5em;
  font-size: 0.9em;
}
