.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 2em;

  h2 {
    margin: 0 0 0 3em;
    font-size: 1.1em;
    font-weight: 700;
  }

  .Button {
    padding: 0.9em 1.5em;
    font-size: 0.9em;
  }

  .SearchBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(4, 4, 5, 0.05);
    // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    padding: 0.9em 1.5em;
    border-radius: 50px;
    width: 20em;
    cursor: pointer;

    &Icon {
      transform: rotate(90deg);
    }
  }

  @media screen and (max-width: 768px) {
    justify-content: flex-end;
    width: 90%;
    margin: auto;
    padding: 1.5em 0;
    box-sizing: border-box;

    h2 {
      display: none;
    }

    .SearchBox {
      width: fit-content;
      padding: 0.9em 0.9em;
      margin-right: 1em;
      backdrop-filter: blur(0);

      span {
        display: none;
      }
    }
  }
}
