.User {
  &Details {
    width: 95%;
    margin: 1.5em auto;
    display: flex;
    align-items: center;

    .Blockie {
      border-radius: 50%;
    }

    .copyButton {
      transition: all 0.2s linear;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 145px;

      span {
        margin-right: 0.5em;
      }
    }

    &Info {
      margin-left: 1em;

      h2 {
        font-size: 2em;
        font-weight: 600;
        margin: 0;
        margin-bottom: 0.5em;
      }
    }
  }

  .None {
    display: none;
  }

  .Block {
    display: inline-block;
  }

  div {
    .filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 95%;
      margin: 3.25em auto;

      div {
        button:nth-of-type(2) {
          margin-left: 1.5em;
        }
      }

      .ctrlButton {
        display: flex;
        align-items: center;

        span {
          margin: 0 0.4em;
        }
      }
    }

    .NoResult {
      width: fit-content;
      margin: 7.5em auto;
      max-width: 22.5em;
      text-align: center;

      h2 {
        font-weight: 600;
      }

      p {
        line-height: 1.4em;
        color: rgba(4, 4, 5, 0.5);
      }

      span {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
      }
    }

    .NFTDisplayPreview {
      margin: 2em auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 95%;
      justify-content: center;
      gap: 1em;
      row-gap: 2.2em;

      @media screen and (max-width: 1144px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media screen and (max-width: 690px) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

.Menu {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  border-radius: 7px !important;
  font-size: 0.9em !important;
  padding: 0.65em 0.5em !important;
}
